<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="9">
    <metadata key="name" value="Admission_Permission Voucher.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="29948"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Ticket Body.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-1.2948575019836426"/>
      <mesh_stat face_count="10768" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Decorative Trim.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0.50000554323196411 0 0 0 1"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-0.79485195875167847"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1192" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 1"/>
      <metadata key="matrix" value="1 0 0 -16.760467529296875 0 1 0 8.9169921875 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="chore" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3664" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 2"/>
      <metadata key="matrix" value="1 0 0 -15.480010986328125 0 1 0 -2.8861770629882812 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="free day" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="4016" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="[Admit] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 50.737541198730469 0.999999999999999 -4.3711390063094768e-08 0 1.5482814311981201 0 0 1 0.19999946653842926 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="admit" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1976" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="[One] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 60.256580352783203 0.999999999999999 -4.3711390063094768e-08 0 -0.74163258075714111 0 0 1 0.19999852776527405 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="one" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1836" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="[Voucher] Right Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 -60.529571533203125 0.999999999999999 -4.3711390063094768e-08 0 0.5180206298828125 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="[Voucher] Left Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 0.999999999999999 0 28.410886764526367 -0.999999999999999 -4.3711390063094768e-08 0 0.77110499143600464 0 0 1 0.20000003278255463 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="-90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="12">
    <metadata key="name" value="Admission_Permission Voucher.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="26920"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Ticket Body.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-1.2948575019836426"/>
      <mesh_stat face_count="10768" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Decorative Trim.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0.50000554323196411 0 0 0 1"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-0.79485195875167847"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1192" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="10" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 1"/>
      <metadata key="matrix" value="1 0 0 -16.760467529296875 0 1 0 8.9169921875 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="cuddle" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3328" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="11" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 2"/>
      <metadata key="matrix" value="1 0 0 -19.634832382202148 0 1 0 -2.84263014793396 0 0 1 0.20000194013118744 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="time" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1324" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="[Admit] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 50.737541198730469 0.999999999999999 -4.3711390063094768e-08 0 1.5482814311981201 0 0 1 0.19999946653842926 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="admit" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1976" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="[One] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 60.256580352783203 0.999999999999999 -4.3711390063094768e-08 0 -0.74163258075714111 0 0 1 0.19999852776527405 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="one" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1836" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="[Voucher] Right Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 -60.529571533203125 0.999999999999999 -4.3711390063094768e-08 0 0.5180206298828125 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="[Voucher] Left Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 0.999999999999999 0 28.410886764526367 -0.999999999999999 -4.3711390063094768e-08 0 0.77110499143600464 0 0 1 0.20000003278255463 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="-90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="20">
    <metadata key="name" value="Admission_Permission Voucher.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="28472"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Ticket Body.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-1.2948575019836426"/>
      <mesh_stat face_count="10768" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Decorative Trim.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0.50000554323196411 0 0 0 1"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-0.79485195875167847"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1192" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="18" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 1"/>
      <metadata key="matrix" value="1 0 0 -16.760467529296875 0 1 0 8.9169921875 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="1x" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="404" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="19" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 2"/>
      <metadata key="matrix" value="1 0 0 -15.47998046875 0 1 0 -2.8861846923828125 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="massage" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="5800" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="[Admit] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 50.737541198730469 0.999999999999999 -4.3711390063094768e-08 0 1.5482814311981201 0 0 1 0.19999946653842926 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="admit" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1976" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="[One] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 60.256580352783203 0.999999999999999 -4.3711390063094768e-08 0 -0.74163258075714111 0 0 1 0.19999852776527405 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="one" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1836" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="[Voucher] Right Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 -60.529571533203125 0.999999999999999 -4.3711390063094768e-08 0 0.5180206298828125 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="[Voucher] Left Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 0.999999999999999 0 28.410886764526367 -0.999999999999999 -4.3711390063094768e-08 0 0.77110499143600464 0 0 1 0.20000003278255463 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="-90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="14">
    <metadata key="name" value="Admission_Permission Voucher.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="24512"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Ticket Body.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-1.2948575019836426"/>
      <mesh_stat face_count="10768" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Decorative Trim.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0.50000554323196411 0 0 0 1"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-0.79485195875167847"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1192" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="13" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 1"/>
      <metadata key="matrix" value="1 0 0 -16.708477020263672 0 1 0 0.93800961971282959 0 0 1 0.20000189542770386 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="i.o.u" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="15" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="2244" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="[Admit] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 50.737541198730469 0.999999999999999 -4.3711390063094768e-08 0 1.5482814311981201 0 0 1 0.19999946653842926 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="admit" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1976" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="[One] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 60.256580352783203 0.999999999999999 -4.3711390063094768e-08 0 -0.74163258075714111 0 0 1 0.19999852776527405 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="one" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1836" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="[Voucher] Right Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 -60.529571533203125 0.999999999999999 -4.3711390063094768e-08 0 0.5180206298828125 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="[Voucher] Left Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 0.999999999999999 0 28.410886764526367 -0.999999999999999 -4.3711390063094768e-08 0 0.77110499143600464 0 0 1 0.20000003278255463 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="-90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="17">
    <metadata key="name" value="Admission_Permission Voucher.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="28600"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Ticket Body.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-1.2948575019836426"/>
      <mesh_stat face_count="10768" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Decorative Trim.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0.50000554323196411 0 0 0 1"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-0.79485195875167847"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1192" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="15" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 1"/>
      <metadata key="matrix" value="1 0 0 -16.760467529296875 0 1 0 8.9169921875 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="free" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="2360" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 2"/>
      <metadata key="matrix" value="1 0 0 -15.47998046875 0 1 0 -2.8861789703369141 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="pass" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="0" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3972" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="[Admit] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 50.737541198730469 0.999999999999999 -4.3711390063094768e-08 0 1.5482814311981201 0 0 1 0.19999946653842926 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="admit" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1976" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="[One] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 60.256580352783203 0.999999999999999 -4.3711390063094768e-08 0 -0.74163258075714111 0 0 1 0.19999852776527405 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="one" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1836" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="[Voucher] Right Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 -60.529571533203125 0.999999999999999 -4.3711390063094768e-08 0 0.5180206298828125 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="[Voucher] Left Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 0.999999999999999 0 28.410886764526367 -0.999999999999999 -4.3711390063094768e-08 0 0.77110499143600464 0 0 1 0.20000003278255463 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="-90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="23">
    <metadata key="name" value="Admission_Permission Voucher.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="28200"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Ticket Body.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-1.2948575019836426"/>
      <mesh_stat face_count="10768" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Decorative Trim.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0.50000554323196411 0 0 0 1"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="-0.79485195875167847"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1192" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="21" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 1"/>
      <metadata key="matrix" value="0.99999999999999922 4.3711389888755066e-08 0 -16.760459899902344 -4.3711389888755066e-08 0.99999999999999922 0 8.9169921875 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="1x win" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="-90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1264" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="22" subtype="normal_part">
      <metadata key="name" value="Ticket Name Text 2"/>
      <metadata key="matrix" value="0.99999999999999922 4.3711389888755066e-08 0 -15.479988098144531 -4.3711389888755066e-08 0.99999999999999922 0 -2.88616943359375 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="argument" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="12" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="-90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="4668" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="[Admit] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 50.737541198730469 0.999999999999999 -4.3711390063094768e-08 0 1.5482814311981201 0 0 1 0.19999946653842926 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="admit" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1976" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="[One] Text"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 60.256580352783203 0.999999999999999 -4.3711390063094768e-08 0 -0.74163258075714111 0 0 1 0.19999852776527405 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="one" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="10" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1836" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="[Voucher] Right Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 -0.999999999999999 0 -60.529571533203125 0.999999999999999 -4.3711390063094768e-08 0 0.5180206298828125 0 0 1 0.20000004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="[Voucher] Left Side"/>
      <metadata key="matrix" value="-4.3711390063094768e-08 0.999999999999999 0 28.410886764526367 -0.999999999999999 -4.3711390063094768e-08 0 0.77110499143600464 0 0 1 0.20000003278255463 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <text_info text="voucher" font_name="Algerian" font_version="2.3" style_name="Recommend" boldness="-34367954944" skew="-8590937088" font_index="-1" font_size="6" thickness="0.60000002384185791" embeded_depth="0" rotate_angle="-90" text_gap="0" bold="0" italic="0" surface_type="1" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="3248" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value="Admission_Permission Tickets"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="9"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="18018"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="12"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="22734"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="14"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="22840"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="17"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="22946"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="20"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="23052"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="23"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="23158"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="9" instance_id="0" transform="1 0 0 0 1 0 0 0 1 337.39536781311034 114.20706176757812 0.40000009536743164" offset="0 0 0" />
   <assemble_item object_id="12" instance_id="0" transform="1 0 0 0 1 0 0 0 1 435.20001220703125 77.792945861816406 0.20000004768371582" offset="0 0 0" />
   <assemble_item object_id="20" instance_id="0" transform="1 0 0 0 1 0 0 0 1 435.20001220703125 228.41412353515625 0.20000004768371582" offset="0 0 0" />
   <assemble_item object_id="14" instance_id="0" transform="1 0 0 0 1 0 0 0 1 435.20001220703125 178.20706176757812 0.20000004768371582" offset="0 0 0" />
   <assemble_item object_id="17" instance_id="0" transform="1 0 0 0 1 0 0 0 1 435.20001220703125 27.585891723632812 0.20000004768371582" offset="0 0 0" />
   <assemble_item object_id="23" instance_id="0" transform="0.99999999999999967 0 0 0 0.99999999999999967 0 0 0 1 448 140.80000305175781 0.20000004768371582" offset="0 0 0" />
  </assemble>
</config>
